body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(img/vintage-concrete.png);
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 15px;
    height: 110px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul {
    padding-left: 0px;
}

.header ul li {
    display: inline-block;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: saddlebrown;
    color: #fff;
}

.hero {
    height: 350px;
    background-image: url(img/hero.jpg);
    background-position: 0 -100px;
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 12px;
    margin-top: -25px
}

.content .penulis a {
    color: salmon;
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer {
    background-color: #333;
    padding: 1px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

